# Environment
.env

# Certificate related
certs/
*.pem
*.key
*.cer

# phpstorm
.idea/

# skip vim pluggins (must be installed)
vim/plugged
vim/sessions
vim/autoload

# Hide some secret files to indiscreet eyes
zsh/.zsh_aliases_secret
scripts/config/secrets.cfg

userscripts/
